.container {
    padding: 3px 10px;
    border-radius: 15px;
    margin-right: 10px;
    display: inline-block;
    background-color: #f5f5f5;
    font-weight: 700;
    font-size: .75rem;
    text-transform: uppercase;
    vertical-align: middle;
}