@import './variables';

$containerBackground: #f0f0f0;
$bg: white;
$nav: #09314D;
$shadow-border: #898c91;
$support: #3498db;
$cta: $shockPink;

$box-shadow: 0px -1px 5px #cecece; 

$default-spacing: 15px;
$nav-height: 20px;

:global html {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

:global body {
    min-width: 60%;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background: $bg;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

    #app {
        overflow: hidden;
    }
}