@import '../../styles/global.scss';

.container {
width: 100%;
height: auto;
overflow: hidden;
}

.content {
    width: 80vw; // Global container width
    min-height: 100vh;
    height: auto;
    z-index: 1;
    overflow: hidden;
    padding-left: 10vw;
    padding-right: 10vw;

    .testObj {
        width: 200px;
        height: 500px;
        background-color: #898c91;
        margin: 0 auto;
    }
}

.langSelect {
    background: #fff;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    border-radius: 4px;
}