@import '../../styles/global.scss';

.container {
    width: 80vw;
    margin: 40px auto;
    position: relative;
    padding-top: 1px;

    h4 {
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
}

.logo {
    width: 300px;
    margin: 50px auto;
    display: block;
}

.langSelect {
    background: darken($bg, 15%);
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
}

.searchContainer {
    width: 50vw;
    margin: 80px auto 40px;
}

.mainContent {
    section {
        margin-top: 80px;
    }
}

.computeNodesContainer {
    ul {
        padding: 0;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    li {
        list-style: none;
    }
}