@import 'styles/global.scss';

.container {
    width: 100%;
    border-radius: 4px;
    background: white;
    border-collapse: collapse;
    box-shadow: $box-shadow;
    overflow: auto;

    td {
        padding: 10px;
        border-bottom: 1px solid #ececec;
        max-width: 500px;
        box-sizing: border-box;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }

    tr td:first-child {
        color: transparentize($color: #000000, $amount: 0.4);
    }
}