@import 'styles/global.scss';

.container {
    width: 100%;
    background: white;
    border-radius: 4px;
    padding: 25px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #ccc;

    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;

    box-shadow: $box-shadow;

    margin-bottom: 50px;

    @media only screen and (min-width: 1000px) {
        flex-direction: row;
        white-space: nowrap;
    }
}

.left {
    width: 40%;
}

.left,
.right {
    box-sizing: border-box;

    ul {
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 20px;

            .row {

                p,
                a {
                    margin: 0 0 5px;
                }
            }
        }
    }
}

.right {
    padding-left: 40px;
}

.row {
    margin-bottom: 15px;
    text-overflow: ellipsis;
    
    p {
        margin: 0 0 2px 0;
    }

    p:first-child {
        width: 40%;
        font-size: .7rem;
        text-transform: uppercase;
        margin-bottom: 5px;
        color: transparentize($color: #000000, $amount: 0.4);
    }

    a {
        margin: 1rem 0;
        color: #1890ff;
        text-decoration: none;

        &:hover {
            // text-decoration: underline;
        }
    }
}

.arrowIcon {
    width: 20px;
    transform: rotate(180deg);
}

.ins {
    padding: 0;

    li {
        list-style: none;
        margin-bottom: 10px;
    }
}

// .addr {
//     white-space: nowrap;
//     // width: 100px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     border: 1px solid #000000;
// }