@import 'styles/_variables.scss';
@import 'styles/global.scss';


.container {
    position: relative;
    width: 100vw;
    height: $footerHeight;
    background-color: $nav;
    box-shadow: 0px 0px 5px #898c91;
}