.container {
    width: 100%;
    background: white;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, .1);
    display: flex;
    box-sizing: border-box;
}

.left,
.right {
    width: calc(50% - 10px);

    ul {
        padding: 0;

        li {
            list-style: none;
        }
    }
}

.right {
    box-sizing: border-box;
    padding-left: 40px;

    li{
        margin-bottom: 20px;

        .row {
            p, a { margin: 0 0 5px; }
        }
    }
        
}

.row {
    display: flex;

    p:first-child {
        width: 40%;
        color: transparentize($color: #000000, $amount: 0.4);
    }

    a {
        margin: 1rem 0;
        color: #1890ff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.arrowIcon {
    width: 20px;
    transform: rotate(180deg);
}

.ins {
    padding: 0;

    li {
        list-style: none;
        margin-bottom: 10px;
    }
}