@import 'styles/global.scss';

// :export {
//   topNavHeight: $topNavHeight;
// }


// .linkContainer{
//   background-color: red;
// }

// .itemContainer {
//   background-color: blue;
//   width: 100%;
//   // justify-content: flex-start;
// }

.topNav {
  z-index: 200;
  height: auto;

  .nav {
    z-index: 999;
   // box-shadow: 0px 0px 5px #898c91;
    background: $nav;
    padding-right: 15px;
    padding-left: 5px;
    transition: .5s;

    .navContainer {
      width: 100%;
      flex-flow: column wrap;

      @media only screen and (min-width: 992px) {
        flex-flow: row;
      }
    }

    .navItems {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;

      @media only screen and (min-width: 992px) {
        margin-top: 15px;
      }
    }

    .navSearch {
      height: 30px;
    }

    .searchBar {
      width: 100%;
      display: flex;
      justify-content: end;

    }


    a.nav-link {
      color: darkgray;
      font-weight: 500pt;
      padding: 0px 10px;



      &:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        text-decoration: none;
        // box-shadow: 0px 2px 0px darkgray;
        // outline: solid 1px darkgray;

        @media only screen and (max-width: 992px) {
          box-shadow: 0px 0px 0px darkgray;
        }
      }
    }

    a.nav-link:hover {
      background-color: red;
    }

    .navIcon {
      position: relative;
      padding-top: 4px;
      transition-duration: 0.2s, 0.2s, 0.6s;
      transition-property: transform, opacity, margin-left;

      img {
        width: 20px;
        color: white; // take from global css
        pointer-events: none;
        user-select: none;
      }
    }

    .brand {
      margin-left: 20px;

      &:hover {
        box-shadow: 0px 0px 0px darkgray;
      }

      img {
        width: 160px;
      }
    }
  }
}

// @media only screen and (max-width: $widthThreshold) {
//   .topNav {
//     height: $collapedtopNavHeight;
//   }
// }
